.events {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: left;
}
ul.nav1-content li {
  display: inline-block;
  color: grey;
  text-align: left;
  padding: 15px;
  font-size: 20px;
}
.nav2 {
  border-top: 1px solid grey;
}
ul.nav2-content li {
  display: inline-block;
  color: grey;
  padding: 15px;
  font-size: 18px;
}
a:link {
  text-decoration: none;
  color: grey;
}
a:visited {
  color: grey;
}
a:hover {
  color: grey;
}
a:active {
  color: orangered;
}
